.intro {
	background: url('../images/blankkoreamap.png') no-repeat center center;
	background-size: 100% 100%;
	width: 95%;
	max-width: 768px;
	height: 480px;
	border: 2px solid black;
	border-radius: 30px;
	margin: 0 auto;
}

.transparent{
	background:rgba(129, 154, 207, 0.5);
}

.intro-overlay {
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.intro-h1 {
	text-align: center;
	font-size: 200%;
}

.intro-overlay p {
	width: 90%;
	margin: 0 auto;

	/* CSS hack to vertically align */
	position: relative;
  	top: 30%;
  	
  	/* ---------------------------*/

  	font-size: 150%;
  	line-height: 1.1;
}

.push-button{
	
	/* CSS hack to vertically align */
	position: relative;
  	top: 50%;
  	
  	/* ---------------------------*/
	width:200px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	border:solid 1px #D94E3B;
	background:#ED1C27;
	text-align:center;
	padding:20px 30px;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 9px 0px #803236;
        -moz-box-shadow: 0px 9px 0px #803236;
        box-shadow: 0px 9px 0px #803236;
}

.push-button:active {
	position: relative;
  	top: 50%;
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    top:244px;
}


/* Main Quiz*/

.wrapper {
	width: 95%;
	max-width: 768px;
	height: 480px;
	border: 2px solid black;
	border-radius: 30px;
	margin: 0 auto; 
}

.flag {
	background: url(../images/);
}