
@font-face {
    font-family: 'chow_funregular';
    src: url('../fonts/chowfun_-webfont.eot');
    src: url('../fonts/chowfun_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chowfun_-webfont.woff') format('woff'),
         url('../fonts/chowfun_-webfont.ttf') format('truetype'),
         url('../fonts/chowfun_-webfont.svg#chow_funregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'imperatorbronzeregular';
    src: url('../fonts/imperatorbronze-webfont.eot');
    src: url('../fonts/imperatorbronze-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/imperatorbronze-webfont.woff') format('woff'),
         url('../fonts/imperatorbronze-webfont.ttf') format('truetype'),
         url('../fonts/imperatorbronze-webfont.svg#imperatorbronzeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: rgb(128, 119, 119)
}

.intro {
	width: 1100px;
	height: 600px;
	position: absolute;
	left: 50%; 
	margin-left: -550px;
	background: url('../images/blankkoreamap.png') no-repeat center center;
	background-size: 100% 100%;
	border: 2px solid black;
	border-radius: 30px;
	opacity: 1;
	z-index: 1;
}

.transparent{
	background:rgba(129, 154, 207, 0.5);
}

.intro-overlay {
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

.intro-h1 {
	text-align: center;
	font-size: 300%;
	font-family: 'chow_funregular';
}

.intro-overlay p {
	margin: 0 auto;
	font-size: 150%;
	font-family: 'imperatorbronzeregular';
	font-weight: bold;
	line-height: 1.4;
	text-align: center;
	margin-top: 30px;
}

.kimcorn {
	width: 400px;
	height: 200px;
	display: block;
	margin: 20px auto;
}

.push-button{
	width: 230px;
	color: #FFF;
	display: block;
	text-decoration: none;
	font-size: 150%;
	font-family: 'chow_funregular';
	margin: 10px auto 20px;
	border-radius: 5px;
	border: solid 1px #D94E3B;
	background: #ED1C27;
	text-align: center;
	padding: 10px 20px;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 9px 0px #803236;
	-moz-box-shadow: 0px 9px 0px #803236;
	box-shadow: 0px 9px 0px #803236;
}

.push-button:active {
	position: relative;
  	top: 7px;
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    
}

.final {
	display: none;
	width: 1100px;
	height: 600px;
	position: absolute;
	left: 50%;
	margin-left: -550px;
	border: 2px solid black;
	border-radius: 30px;
	background: #fff;
	opacity: 0;
	z-index: -1;
}

.finalWin, .finalLose {
	margin: 0 auto;
	font-size: 150%;
	font-family: 'imperatorbronzeregular';
	font-weight: bold;
	line-height: 1.4;
	text-align: center;
}

.finalWin p {
	padding-top: 80px;
}


/* Main Quiz*/

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1100px;
	height: 600px;
	border: 2px solid black;
	border-radius: 30px;
	background: #fff;
}

.red {
	position: relative;
	background-color: #ED1C27;
	width: 100%;
	height: 15%;
	border-radius: 28px 28px 0 0;
}

.header-wrapper {
	width: 500px;
	margin: 0 auto;
}


#main-header {
	font-family: 'chow_funregular';
	font-size: 400%;
	font-weight: bold;
	text-align: center;
}

.instructions {
	font-family: 'chow_funregular';
	display: inline-block;
	font-size: 120%;
	font-weight: bold;
	border: 1px dotted black;
	padding: 5px;
	margin-left: 10px;
	position: absolute;
	bottom: 5px;
	border-radius: 10px;
	color: #000;
	text-decoration: none;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 2px -2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px -2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px -2px 5px 0px rgba(50, 50, 50, 0.75);
}

.instructions:active {
	position: absolute;
	bottom: 7px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}

.restart {
	font-family: 'chow_funregular';
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
	border: 1px dotted black;
	margin-right: 10px;
	position: absolute;	
	bottom: 5px;
	right: 0;
	border-radius: 10px;
	color: #000;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 2px -2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px -2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px -2px 5px 0px rgba(50, 50, 50, 0.75);
}

.restart:active {
	position: absolute;
	bottom: 7px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}

.red2 {
	background-color: #ED1C27;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 89px;
	border-radius: 0 0 28px 28px;
}

.correct {
	font-family: 'chow_funregular';
	font-size: 300%;
	text-align: center;
}

.explanation {
	font-size: 130%;
	text-align: center;
	font-family: 'imperatorbronzeregular';
	font-weight: bold;
}

.blue {
	position: relative;
    margin-top: 14px;
	background-color: #185FAA;
	width: 100%;
	height: 65%;
}

.kimpic {
	width: 300px;
	height: 300px;
	position: relative;
    float: left;
    margin-top: 46px;
}

.question-template {
	width: 740px;
	border: 1px solid black;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	background-color: #ED1C27;
	padding: 8px;
}

.question-template p {
	font-size: 175%;
	text-align: center;
	font-family: 'imperatorbronzeregular';
	font-weight: bold;
}

.answer-wrapper {
	float: right;
	text-align: justify;
	margin-top: 30px;
	margin-right: 10px;
}

 .answer {
 	display: inline-block;
	width: 175px;
	border: 1px solid black;
	border-radius: 20px; 
	font-size: 150%;
	padding: 15px 5px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: #000;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	background-color: #fff;

	-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}



.answer:active {
	position: relative;
	top: 4px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.button-wrapper {
	float: right;
	width: 740px;
	margin-top: 15px;
}

.push-button2 {
	font-family: 'chow_funregular';
	font-size: 150%;
	width: 175px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	border:solid 1px #D94E3B;
	background:#ED1C27;
	text-align:center;
	padding:5px 30px;

	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 9px 0px #803236;
    -moz-box-shadow: 0px 9px 0px #803236;
     box-shadow: 0px 9px 0px #803236;
}

.push-button2:active {
	position: relative;
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    top:7px;
}

.push-button3 {
	font-family: 'chow_funregular';
	font-size: 150%;
	width: 175px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	border:solid 1px #D94E3B;
	background:#ED1C27;
	text-align:center;
	padding:5px 30px;

	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 9px 0px #803236;
    -moz-box-shadow: 0px 9px 0px #803236;
     box-shadow: 0px 9px 0px #803236;
}

.push-button3:active {
	position: relative;
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    top:7px;
}

.score-wrapper {
	width: 550px;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

.score-wrapper img {
	width: 42px;
	height: 86px;
	margin-right: 10px;
	float: left;
	opacity: 0;
}

.counter-wrapper {
	position: absolute;
	font-size: 150%;
	bottom: 0;
	left: 310px;
}

.counter-wrapper p {
	border: 2px solid black;
	margin: 7px 0;
	font-family: 'chow_funregular';
	background-color: #F4767D;
}

.selectedAnswer {
	background-color: #F4767D;
}




